@charset "utf-8";




#shock{

    width: 100%;
    height: 960px;
    margin: 0 auto;
}


#shock.shocktitle{


}


#xyzbox{
    width: 1500px; height: 1400px;
    background-color: #000;
margin-bottom: 120px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content:center;
}


#xyzbox .xbox{
width: 1162px; height: 350px;
background-color: aqua;
margin: 0 auto;
margin-bottom: 90px;
display: flex;
flex-wrap: wrap;
}


#xyzbox .xtextbox{

    width: 533px;
    height: 295px;
    background-color: #000;
    margin: 0 auto;

}


#xyzbox .xtitle{
    width: 533px;
    height: 100px;
color: #fff;
font-size: 30px;
margin-top: 25px;
}


#xyzbox .xtext{
    width: 533px;
    height:195px;
color: #fff;
font-size: 18px;

}



#xyzbox .ximgbox {

width: 533px;
height: 295px;
background-color: blue;
margin: 0 auto;

}


#xyzbox .ybox{
    width: 1162px; height: 350px;
    background-color: red;
    margin: 0 auto;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}


#xyzbox .ytextbox{

    width: 533px;
    height: 295px;
    background-color: #000;
    margin: 0 auto;
   
}

    #xyzbox .ytitle{
        width: 533px;
        height: 100px;
    color: #fff;
    font-size: 30px;
    margin-top: 25px;
    }
    
    
    #xyzbox .ytext{
        width: 533px;
        height:195px;
    color: #fff;
    font-size: 18px;
    
    }






#xyzbox .yimgbox{

    width: 533px;
height: 295px;
background-color: blue;
margin: 0 auto;

}




#xyzbox .zbox{
    width: 1162px; height: 350px;
    background-color: green;
    margin: 0 auto;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}


#xyzbox .ztextbox{

    width: 533px;
    height: 295px;
    background-color: black;
    margin: 0 auto;

}

#xyzbox .ztitle{
    width: 533px;
    height: 100px;
color: #fff;
font-size: 30px;
margin-top: 25px;
}


#xyzbox .ztext{
    width: 533px;
    height:195px;
color: #fff;
font-size: 18px;

}








#xyzbox .zimgbox{

    width: 533px;
    height: 295px;
    background-color: blue;
    margin: 0 auto;

}